#section-signup {
  margin-top: 60px;
}

#section-stripe-pay {
  margin-top: 60px;
}

#showcase {
  margin-top: 60px;
}

#showcase h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#showcase img {
  width: 90%;
  /*margin-left: 60px;*/
}

#showcase .showcase-right {
  margin-top: 60px;
}

#testimonial {
  /*background: url('../images/gold_bg.jpg') no-repeat;*/
  background:#f1f1f1;
  /*padding: 50px 0 50px 0;*/
  text-align: center;
  margin-top: 40px;
}

#testimonial p {
  font-size: 32px;
  font-family: 'Josefin Sans';
  color: #000;
}

#testimonial p.customer {
  font-size: 20px;
  color: #666;
}
#testimonial .thumbnail {
  background-color: ##fefefe;
}
#info1 {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

#info1 .info-right {
  margin-top: 90px;
}

#info2 {
  margin: 0;
  /*background: url('../images/gold_bg.jpg') no-repeat;*/
  background-color: #D1C392;
}

#schedule {
  background: url('../images/field_bg.jpg') center center no-repeat;
  background-size: cover;
  margin: 0;
  padding: 2rem 0;
}

.schedule-bg {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.schedule-bg h2 {
  margin-top: 30px;
}

.schedule-bg p {
  font-size: 18px;
  font-family: inherit;
  font-weight:800;
}
.schedule-bg .panel {
  font-weight: 800;
}
.schedule-bg .panel ul {
  list-style: none;
}
.schedule-bg .panel .panel-bg-1 {
  background-color: #000;
  color: #fefefe;
}
.schedule-bg .panel .panel-bg-2 {
  background-color: #D4AF37;
  color: #fefefe;
}
.schedule-bg .panel .panel-bg-3 {
  background-color: red;
  color: #fefefe;
}
#social {
  background-color: #f4f4f4;
}
#social h2 {
  font-family: 'Squada One', cursive;
}
#contact {
  background:url('../images/image3.jpg') top left no-repeat;
  background-size: cover;
  padding: 40px;
  color: #fff;
  border-top: #333 7px solid;
  border-bottom: #333 7px solid;
}

form {
  background-color: #e5e5e5;
  padding: 2rem;
  border-radius: 5px;
}

form h5 {
  padding: 5px 0 5px 5px;
}

footer {
  padding: 30px;
}
@media (max-width: 767px) {
  #info1 .info-right {
  margin-top: 0px;
}
#showcase .showcase-right {
  margin-top: 0px;
}
}
